#tab_plugin_printhistory a {
    text-decoration: none;
}

#printhistory-lastmonth-graph {
    width: 100%;
    height: 200px;
}

#printhistory-success-graph {
    width: 200px;
    height: 200px;
}

#printhistory-graphRange {
    display: block;
    margin-bottom: 10px;
}

#tab_plugin_printhistory td {
    font-size: 13px;
}

#tab_plugin_printhistory .additionalInfo {
    font-size: 85%;
    color: #999;
}
