<table class="table table-bordered table-hover">
    <tr>
        <th style="width: 35%">Filename</th>
        <th style="width: 5%; text-align: center;"></th>
        <th style="width: 20%">Date</th>
        <th style="width: 15%">Print time</th>
        <th style="width: 25%">Filament usage</th>
    </tr>
    <tbody data-bind="foreach: rows">
        <tr>
            <td data-bind="text: fileName"></td>
            <td data-bind="text: success" style="text-align: center;"></td>
            <td data-bind="text: timestamp, attr: { title: formattedDate }"></td>
            <td data-bind="text: printTime"></td>
            <td data-bind="text: filamentUsage"></td>
        </tr>
    </tbody>
    <tr>
        <th colspan="3">Total:</td>
        <th data-bind="text: totalTime"></td>
        <th data-bind="text: totalUsage"></td>
    </tr>
</table>
