<table class="table table-bordered table-hover">
    <tr>
        <th style="width: 30%">Filename</th>
        <th style="width: 10%; text-align: center;">Status</th>
        <th style="width: 30%">Date &amp; print time</th>
        <th style="width: 30%">Filament usage</th>
    </tr>
    <tr>
        <td>Test.stl</td>
        <td style="text-align: center;">OK</td>
        <td>an hour ago / 01:46:16</td>
        <td>3.24m / 20.10cm³</td>
    </tr>
    <tr>
        <th colspan="2">Total:</td>
        <th>04:46:16</td>
        <th>123.24m / 220.10cm³</td>
    </tr>
</table>
