Refresh <a href="#" data-bind="click: function() { requestData({force: true}); }, visible: $root.loginState.isUser() && !$root.isPrinting()" title="Force refresh" ><span class="icon-refresh"></span></a>
<div class="pull-right">
    <small>
        {{ _('Sort by') }}:
        <a href="#" data-bind="click: fileNameSort">{{ _('Name') }} <span data-bind="text: sortOrder('fileName')"></span></a> |
        <a href="#" data-bind="click: timeStampSort">{{ _('Date') }} <span data-bind="text: sortOrder('timestamp')"></span></a> |
        <a href="#" data-bind="click: printTimeSort">{{ _('Print time') }} <span data-bind="text: sortOrder('printTime')"></span></a>
    </small>
</div>
<div class="pull-right" style="clear: both;">
    <small>
        Show prints:
        <a href="#" data-bind="click: function() { listHelper.toggleFilter('all'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'all') ? 'visible' : 'hidden'}"></i> all</a>
        <a href="#" data-bind="click: function() { listHelper.toggleFilter('successful'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'successful') ? 'visible' : 'hidden'}"></i> only successful</a>
        <a href="#" data-bind="click: function() { listHelper.toggleFilter('failed'); }"><i class="icon-ok" data-bind="style: {visibility: _.contains(listHelper.currentFilters(), 'failed') ? 'visible' : 'hidden'}"></i> only failed</a>
    </small>
</div>

<table id="print_history_main_table" class="table table-striped table-hover table-condensed table-hover" style="clear: both;">
    <thead>
        <tr>
            <th style="width: 43%">Filename</th>
            <th style="width: 4%; text-align: center;"></th>
            <th style="width: 15%">Date</th>
            <th style="width: 13%;" class="text-center">Print time</th>
            <th style="width: 16%;text-align: center;">Filament usage</th>
            <th style="width: 9%"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: listHelper.paginatedItems">
        <tr>
            <td>
                <span data-bind="text: fileName, attr: { title: fileName }"></span>
                <div class="additionalInfo">
                    <div data-bind="visible: note">Note: <span data-bind="text: note"></span></div>
                    <div data-bind="visible: spool">Spool: <span data-bind="text: spool"></span></div>
                    <div data-bind="visible: user">User: <span data-bind="text: user"></span></div>
                </div>
            </td>
            <td style="text-align: center;"><span data-bind="css: {'icon-ok-sign' : success() == 1, 'icon-exclamation-sign' : success() == 0}, style: { color: success() == 1 ? 'green' : 'red' }"></span></td>
            <td data-bind="text: formatedDate, attr: { title: formatedTimeAgo }"></td>
            <td style="text-align: center;" data-bind="text: formatedDuration"></td>
            <td style="text-align: center;" data-bind="html: filamentUsage"></td>
            <td>
                <div class="btn-group action-buttons" data-bind="visible: $root.loginState.isUser() && !$root.isPrinting()">
                    <div class="btn btn-mini" data-bind="click: function() { $root.showDetailsDialog($data); }" title="{{ _('Additional data') }}"><i class="icon-wrench"></i></div>
                    <div class="btn btn-mini" data-bind="click: function() { $root.removeFile($data.id); }" title="{{ _('Remove') }}"><i class="icon-trash"></i></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagination pagination-mini pagination-centered">
    <ul>
        <li data-bind="css: {disabled: listHelper.currentPage() === 0}">
            <a href="#" data-bind="click: listHelper.prevPage">«</a>
        </li>
    </ul>
    <ul data-bind="foreach: listHelper.pages">
        <li data-bind="css: { active: $data.number === $root.listHelper.currentPage(), disabled: $data.number === -1 }">
            <a href="#" data-bind="text: $data.text, click: $root.listHelper.changePage.bind($data, $data.number)"></a>
        </li>
    </ul>
    <ul>
        <li data-bind="css: {disabled: listHelper.currentPage() === listHelper.lastPage()}">
            <a href="#" data-bind="click: listHelper.nextPage">»</a>
        </li>
    </ul>
</div>

<table class="table table-striped table-hover table-condensed table-hover summary">
    <thead>
        <tr>
            <th style="width: 63%">Total:</th>
            <th style="width: 13%; text-align: center;" data-bind="text: totalTime"></th>
            <th style="width: 24%; text-align: center;" data-bind="text: totalUsage"></th>
        </tr>
    </thead>
</table>

<table class="table table-striped table-hover table-condensed table-hover summary">
    <thead>
        <tr>
            <th style="width: 63%">Average:</th>
            <th style="width: 13%; text-align: center;" data-bind="text: averageTime"></th>
            <th style="width: 24%; text-align: center;" data-bind="text: averageUsage"></th>
        </tr>
    </thead>
</table>

<div>
    <h1 style="margin-bottom: 0;">Prints per day</h1>
    <small id="printhistory-graphRange">
        <a href="#" data-bind="click: changeGraphRange.bind($data, 'week')">last week</a> |
        <a href="#" data-bind="click: changeGraphRange.bind($data, 'month')">last month</a> |
        <a href="#" data-bind="click: changeGraphRange.bind($data, 'quarter')">last quarter</a>
    </small>
    <div id="printhistory-lastmonth-graph"></div>
</div>

<div style="float: left; width: 45%; margin-right: 20px;">
    <h1>Success rate</h1>
    <div id="printhistory-success-graph"></div>
</div>

<div style="float: left; width: 50%">
    <h1>Export as</h1>
    <a href="#" data-bind="attr: {href: $root.export('csv'), css: {disabled: !$root.export('csv')}}">CSV</a> |
    <a href="#" data-bind="attr: {href: $root.export('csv_extra'), css: {disabled: !$root.export('csv_extra')}}">CSV Extra</a> |
    <a href="#" data-bind="attr: {href: $root.export('excel'), css: {disabled: !$root.export('excel')}}">Excel</a>
<!--
    <a href="#" data-bind="attr: {href: $root.export('pdf'), css: {disabled: !$root.export('pdf')}}">PDF</a>
-->
</div>
<div style="clear: both;"></div>

<div id="printhistory_details_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h4 data-bind="with: itemForEditing">Details for <span data-bind="text: fileName"></span></h4>
    </div>
    <div class="modal-body" data-bind="with: itemForEditing">
        <form class="form-horizontal" action="javascript:void(0)">
            <div class="control-group">
                <label class="control-label">Note:</label>
                <div class="controls">
                    <input type="text" data-bind="value: note">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Spool:</label>
                <div class="controls">
                    <select data-bind="options: $parent.spool_inventory, optionsText: 'name', optionsValue: 'name', optionsCaption: 'Select spool', value: spool"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">User:</label>
                <div class="controls">
                    <select data-bind="options: $parent.users.listHelper.items, optionsText: 'name', optionsValue: 'name', optionsCaption: 'Select user', value: user"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Success:</label>
                <div class="controls">
                    <input type="checkbox" data-bind="checked: success" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Filament length:</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: filamentLength">
                        <span class="add-on">mm</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Filament volume:</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: filamentVolume">
                        <span class="add-on">cm³</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: addUpdateDetails"><i></i> {{ _('Save') }}</a>
    </div>
</div>


